#container{
  font-family:        'Arial', sans-serif;
  font-size:          20px;
  /** Zentrierung **/
    position:           absolute;
    top:                50%;
    left:               50%;
    width:              400px; /**gewünschte Buttonbreite (auf Text achten)**/
    height:             4*56px; /** Buttonanzahl * Linespacing **/
    margin-top:         -200px; /** Höhe / 2 **/
    margin-left:        -200px; /** Breite / 2 **/
    text-align:         center;
  /** **/
  /**background-color: #f0f; DEBUG**/
  line-height:        56px;
}
div {
  display:            block;
}

body{
  background-color:   #1d1f21;
}

a{
  color:              #e0e0e0;
  text-decoration:    none;
  display:            block;
}

a:hover{
  color:              #1d1f21;
  background-color:   #e0e0e0;
}
