/*CSS*/

/*Standard HTML tags*/
body {
	background-color: 	#1d1f21;
	color:			#e0e0e0;
	font-family: 		'Source Code Pro';
}
h1 {
	text-align: 		center;
	font-size:		2.2em;
}
h2 {
	text-align:		 left;
	font-size: 		2.2em;
}
h3 {
	text-align: 		 right;
	font.size:		2.2em;
}
pre {
	text-align: 		 left;
	font-size:		1.3em;
}
p {
	text-align: 		 justify;
	font-size:		1.3em;
}
ul {
	list-style-type:	 none;
	margin:			 0;
	padding: 		 0;
	overflow:		 hidden;
	background-color: 	 #1d1f21;
}

li {
	float:			 left;
	font-size:		1.3em;
}
li a {
	display:		 block;
	color:			 #e0e0e0;
	background-color:	 #1d1f21;
	text-align:		 center;
	padding:		 5px 5px;
	text-decoration:	 none;
}
li a:hover {
	background-color: 	 #e0e0e0;
	color:			 #1d1f21;
}
a {
	color:			 #e0e0e0;
	background-color:	 #1d1f21;
	text-decoration:	 none;
}
a pre {
	color:			 #e0e0e0;
	background-color:	 #1d1f21;
	text-decoration:	 none;
}
a:hover pre {
	background-color: 	 #e0e0e0;
	color:			 #1d1f21;
}
a:hover {
	background-color: 	 #e0e0e0;
	color:			 #1d1f21;
}


/*Webkit*/
::-webkit-scrollbar { 
    display: none; 
}
/*Colors*/
.red {
	color:			#cc6666;
}
.blue {
	color:			#8abeb7;
}
.orange {
	color:			#de935f;
}
.yellow {
	color:			#f0c674;
}
.green {
	color:			#b5bd68;
}
.violet {
	color:			#b294bb;
}

/*Divs*/
#container {
	width:	 		900px;
	height:			auto;
	margin: 		auto;
	padding:		35px 60px 35px 60px;
}
#banner {
	width: 			100%;
	height:			auto;
	margin:			0px 0px 5px 0px;
	padding:		0px;
}
#navbar {
	width:			100%;
	height:			auto;
	margin:			5px 0px 5px 0px;
	padding:		0px;
}
#content {
	width:			auto;
	height:			640px;
	margin:			5px 0px 5px 0px;	
	padding:		0px;
	overflow:		auto;
}
#dividor {
	width: 			100%;
	height: 		10px;
	font-size:		0;
	margin:			5px 0px 5px 0px;
	padding:		0;
	border-top:		2px dashed;	
}
